{% extends "micrositio/base.html" %}

{% block content %}
    <a href="/candidato/{{ candidato.slug }}/conoceme/" class="conoceme">
        <h2>Conóceme</h2>
        <h3>Descripción</h3>
        <p>{{ candidato.breveDescripcion  }}</p>
        <img src="{{ MEDIA_URL }}{{ candidato.conoceme_foto}}" alt="" width="290" height="175" />
    </a>

    <article class="destacada">
    	<h2><p>Noticia destacada</p></h2>
        <img src="{{ MEDIA_URL }}{{ noticia_destacada.imagen }}" width="385" height="130" alt="titulo de noticia"/>
        <h1><a href="/candidato/{{ candidato.slug }}/noticias/{{ noticia_destacada.slug}}/">{{ noticia_destacada.titulo }}</a></h1>
        <p>{{ noticia_destacada.breveDescripcion }}</p>
        <br>
        <div class="videoInicio">            
            {% if not video == None %}
                {{ video|safe }}
            {% elif not galeria == None %}
                {{ galeria }}
            {% endif %}
         </div>

         {% for noticia in noticias %}
            <a href="/candidato/{{ candidato.slug }}/noticias/{{ noticia.slug}}/" class="notiSec">
                <p class="tit">{{ noticia.titulo }}</p>
                <p class="desc">{{ noticia.breveDescripcion }}</p>
            </a>
         {% endfor %}            	      
    </article>
{% endblock %}