<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
<title>Candidatos 2015</title>
</head>
<body>

<div class="main">
    <header><img src="{{ STATIC_URL }}images/headerppal.jpg"/></header>
    <h1>CANDIDATOS 2015</h1>
    
    <a href="home.html" class="dip">
        <img src="{{ STATIC_URL }}images/cand01.jpg" alt="Candidato diputado local 2015"/>
        CANDIDATO <br>RENE DOMINGUEZ<br>DIPUTADO LOCAL
    </a>
    <a href="home.html" class="dip">
        <img src="{{ STATIC_URL }}images/cand02.jpg" alt="Candidato diputado local 2015"/>
        CANDIDATO <br>ANA PAULINA SERRATO<br>DIPUTADO LOCAL
    </a>
    <a href="home.html" class="dip">
        <img src="{{ STATIC_URL }}images/cand03.jpg" alt="Candidato diputado local 2015"/>
        CANDIDATO <br>ISELA JAUREGUI<br>DIPUTADO LOCAL
    </a>
    <a href="home.html" class="dip1">
        <img src="{{ STATIC_URL }}images/cand04.jpg" alt="Candidato diputado local 2015"/>
        CANDIDATO <br>PEDRO RAMIREZ<br>DIPUTADO LOCAL
    </a>
    
    <hr>
    
    <h3>PROCESO ELECTORAL 2014-2015</h3>
    <p>El proceso electoral en el estado de Guanajuato inició desde el pasado 8 de octubre con la organización y preparación por parte del Instituto Electoral del Estado de Guanajuato.</p><br><br>
    <p><strong>Informativo Ágora “Candidatos 2015”</strong> prepara la cobertura general de la elección y te presenta los siguientes datos generales:</p>
    <p class="nota">¡TOMA NOTA! </p>

    <p><strong>1058</strong> <br>
        En este proceso electoral se elegirán 1,058 cargos de elección popular.</p>
    <p><strong>07 DE JUNIO</strong> <br>
        La jornada electoral, es decir, el día que se tiene que ir a votar es el domingo 07 de junio.</p>
    <p><strong>1ª vez</strong> <br>
        Por primera vez, podrán participar candidatos independientes en este proceso electoral.</p>
    <p><strong>GÉNERO</strong> <br>
        La ley obliga a que el 50% de los candidatos a diputados locales y regidores sean hombre y 50% sean mujeres.</p>
    <p><strong>PARTICIPAN 10</strong> <br>
        Para esta elección participarán 3 nuevos partidos políticos, para sumar un total de 10 institutos políticos que presentarán candidatos en la jornada:
</p>

	<div class="logos">
    	<img src="{{ STATIC_URL }}images/panLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/priLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/prdLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/ptLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/partidoVerdeLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/movimientoLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/nuevaAlianzaLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/morenaLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/partidoHumanistaLogo.jpg"/>
        <img src="{{ STATIC_URL }}images/encuentroSocialLogo.jpg"/>
    </div>

  <h3>GEOGRAFIA ELECTORAL</h3>
    
    <div class="tbUbica">
      <p class="A">Padrón electoral</p>  <p class="B">4,266,570</p>
      <p class="A">Lista nominal</p>  <p class="B">4,003,717</p>
      <p class="A">Secciones</p>  <p class="B">3,143</p>
      <p class="A">Municipios</p>  <p class="B">46</p>
      <p class="A">Distritos</p>  <p class="B">22</p>    
    </div>
    
    

  <h3 class="nota">UBICA TU DISTRITO LOCAL</h3>
        <p>DISTRITO I Dolores Hidalgo, Ocampo, San Diego de la Unión, San Felipe

        <p>DISTRITO II San Luis de la Paz, Atarjea, Doctor Mora, San José Iturbide, Santa Catarina, Tierra Blanca, Victoria, Xichú</p>             
        <p>DISTRITO III León (parte)</p>            
        <p>DISTRITO IV León (parte)</p>            
        <p>DISTRITO V León (parte)</p>            
        <p>DISTRITO VI León (parte)</p>            
        <p>DISTRITO VII León (parte)</p>            
        <p>DISTRITO VIII Guanajuato, Silao (parte)</p>            
        <p>DISTRITO IX San Miguel de Allende, Dolores Hidalgo (parte)</p>            
        <p>DISTRITO X San Francisco del Rincón, Purísima del Rincón, Romita y Silao (parte)</p>            
        <p>DISTRITO XI Irapuato (parte)</p>            
        <p>DISTRITO XII Irapuato (parte)</p>            
        <p>DISTRITO XIII Salamanca, Abasolo, Pueblo Nuevo</p>            
        <p>DISTRITO XIV Salamanca, San Cruz de Juventino Rosas</p>            
        <p>DISTRITO XV Celaya (parte) y Villagrán</p>            
        <p>DISTRITO XVI Celaya (parte)</p>            
        <p>DISTRITO XVII Apaseo el Grande, Apaseo el Alto, Comonfort y Tarimoro</p>            
        <p>DISTRITO XVIII Pénjamo, Manuel Doblado y Cuerámaro</p>            
        <p>DISTRITO XIX Valle de Santiago, Huanímaro, Jaral del Progreso</p>            
        <p>DISTRITO XX Yuriria, Moroleón, Santiago Maravatío, Uriangato</p>         
        <p>DISTRITO XXI Salvatierra, Cortazar</p>
        <p>DISTRITO XXII Acámbaro, Coroneo, Jerécuaro, Tarandacuao</p>
        
	<h3 class="nota">UBICA TU DISTRITO LOCAL</h3>
    
    <div class="tbUbica">
    	<p class="A"><strong>Distrito Electoral Federal</strong></p><p class="B"><strong>Cabecera</strong></p>
        <p class="A">l</p><p class="B">San Luis de la Paz</p>
        <p class="A">ll</p><p class="B">San Miguel de Allende</p>
        <p class="A">lll</p><p class="B">León</p>
        <p class="A">lV</p><p class="B">Guanajuato</p>
        <p class="A">V</p><p class="B">León</p>
        <p class="A">Vl</p><p class="B">León</p>
        <p class="A">Vll</p><p class="B">San Francisco del Rincón</p>
        <p class="A">Vlll</p><p class="B">Salamanca</p>
        <p class="A">lX</p><p class="B">Irapuato</p>
        <p class="A">X</p><p class="B">Uriangato</p>
        <p class="A">Xl</p><p class="B">Pénjamo</p>
        <p class="A">Xll</p><p class="B">Celaya</p>
        <p class="A">Xlll</p><p class="B">Valle de Santiago</p>
        <p class="A">XlV</p><p class="B">Acámbaro</p>
    </div>
        
        
</div>

</body>
</html>
