<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Candidatos</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/candidatos_verde.css">
</head>
<body>

<header><img src="{{ STATIC_URL }}images/header.jpg" alt="candidatos"/>
</header><section class="redes">
	<a href="home.html" class="lkInicio">Inicio</a>
    <p class="pRedes"> Visita nuestras redes sociales</p>
    <a href="#" class="linkRedes"><img src="{{ STATIC_URL }}images/fb.jpg"/></a>
    <a href="#" class="linkRedes"><img src="{{ STATIC_URL }}images/tw.jpg"/></a>
</section>

<nav>
	<a href="compromisos.html" >MIS COMPROMISOS</a>
    <a href="noticias.html" >NOTICIAS</a>
    <a href="galerias.html" >GALERIAS</a>
    <a href="videos.html" >VIDEOS</a>
    <p class="fecha"><script>
var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
var f=new Date();
document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
		</script></p>
</nav>

<section class="bannerTop">
    <a href="#"><img src="{{ STATIC_URL }}images/bannerTemp.jpg"/></a>
</section>


<section class="content">
	<h1 class="h1">Noticias</h1>

	<a href="conoceme.html" class="conoceme">
		<h2>Conóceme</h2>
        <h3>Descripción básica del candidato</h3>
        <p>Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simuladoTexto simulado</p>
		<img src="{{ STATIC_URL }}images/conoce.jpg" alt=""/>
	</a>
    
    <article class="noticia">
		<img src="{{ STATIC_URL }}images/noti01.jpg" width="583" alt=""/>

		<h2>22 de Junio</h2>
		<p> El pasado 22 de junio por la mañana visité el mercado dorado en donde obtuve un gran recibimiento por parte de los locatarios del lugar, recorrí todas las instalaciones del mercado y saludé a cada uno de los comerciantes, escuché sus inconformidades y quejas y les expuse mis propuestas y mis compromisos con todos los comerciantes celayenses.
<br><br>
Por la tarde visité la comunidad de Plancarte y La Luz en donde me reuní con habitantes de estos lugares, queremos que en estas comunidades podamos tener la oportunidad de contar con un lugar en donde exista una oficina directa del partido y poder tener una acercamiento con cada uno de los habitantes de la comunidad. Con el fin de de trabajar de la mano con la gente y beneficiarlos de la mejor manera posible.
<br><br>
Debemos priorizar lo que necesitamos hacer en Plancarte, establecer cuáles son las líneas de acción y de gobierno que necesitamos implementar, qué es lo que se necesita, atender  a la ciudadanía, pueden tener la confianza de que lo que queremos es llevar a cabo los programas y aplicarlos sin distinción alguna.
<br><br>
Lamentablemente se ha inclinado la balanza para atender solo a unos pocos y no a todos, necesitamos modificar estas condiciones para que tengamos oportunidad de atender también a las personas que hasta este momento han sido olvidadas y no se les he atendido.
<br><br>
Soy una persona de palabra, he tenido la oportunidad de ayudar a la gente sin tener una posición política, sin tener una responsabilidad y sin tener los medios que permite el presupuesto público de atenderlos.
<br><br>
 De llegar al congreso si así lo deciden los celayenses tendré la oportunidad e atenerlos más y mejor, debemos recordar que compromisos son compromisos, los habitantes de Plancarte, Tenería, San Juan de la Vega, La Aurora, Tamayo, Presa Blanca, San Elías, San Miguel Octopan, Juan Martin, La Luz, La Cruz, San Juan de la Vega, El Sauz y todas las demás comunidades y colonias que conforman el distrito podrán estar seguros que seré muy cuidadoso y responsable para que tengamos lo que necesitamos, para mejorar la calidad de vida de Celaya, sus colonias y sus comunidades.
<br><br>
Requerimos una alternancia en el gobierno para cambiar las cosas que hasta este momento nos han perjudicado a todos y que no han funcionado como deberían de funcionar.
<br><br>
Considero de gran importancia que la gente esté enterada del interés que tiene el PRI-PVEM por ayudar a la ciudadanía, ofreciéndoles un gobierno justo, honesto, transparente y cercano a la gente.
<br><br>
<strong> “Ya basta de inseguridad, ya basta de desempleo, Ya basta de corrupción, Ya basta de falta de transparencia, Ya basta de impunidad”.</strong></p>
    </article>
</section>

<footer>Sitio Web Candidatos</footer>

</body>
</html>
