<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Candidatos</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/candidatos_verde.css">
</head>
<body>

<header><img src="{{ STATIC_URL }}images/header.jpg" alt="candidatos"/>
</header><section class="redes">
	<a href="home.html" class="lkInicio">Inicio</a>
    <p class="pRedes"> Visita nuestras redes sociales</p>
    <a href="#" class="linkRedes"><img src="{{ STATIC_URL }}images/fb.jpg"/></a>
    <a href="#" class="linkRedes"><img src="{{ STATIC_URL }}images/tw.jpg"/></a>
</section>

<nav>
	<a href="compromisos.html" >MIS COMPROMISOS</a>
    <a href="noticias.html" >NOTICIAS</a>
    <a href="galerias.html" >GALERIAS</a>
    <a href="videos.html" >VIDEOS</a>
    <p class="fecha"><script>
var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
var f=new Date();
document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
		</script></p>
</nav>

<section class="bannerTop">
    <a href="#"><img src="{{ STATIC_URL }}images/bannerTemp.jpg"/></a>
</section>


<section class="content">
	<h1 class="h1">Noticias</h1>

	<a href="conoceme.html" class="conoceme">
		<h2>Conóceme</h2>
        <h3>Descripción básica del candidato</h3>
        <p>Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simuladoTexto simulado</p>
		<img src="{{ STATIC_URL }}images/conoce.jpg" alt=""/>
	</a>
    
    <article class="destacada">
    	<a href="noti01.html" class="notiList">
			<p class="tit">22 de Junio</p>
            <p class="desc">El pasado 22 de junio por la mañana visité el mercado dorado en donde obtuve un gran recibimiento por parte de los locatarios del lugar, recorrí todas las instalaciones del mercado y saludé a cada...</p>
    	</a>
        
        <a href="#" class="notiList">
			<p class="tit">Titulo de noticia</p>
            <p class="desc">Texto simulado Texto simulado Texto simulado Texto simulado</p>
    	</a>
        
        <a href="#" class="notiList">
			<p class="tit">Titulo de noticia</p>
            <p class="desc">Texto simulado Texto simulado Texto simulado Texto simulado</p>
    	</a>
        
        <a href="#" class="notiList">
			<p class="tit">Titulo de noticia</p>
            <p class="desc">Texto simulado Texto simulado Texto simulado Texto simulado</p>
    	</a>
    </article>
</section>

<footer>Sitio Web Candidatos</footer>

</body>
</html>
